body{
    padding: 50px 100px;
    background-color: antiquewhite;
    

}
h1{
    text-align: center;
    font-size: 40px;
    color:darkred
    
}
#container{
    text-align: center;
    background-color:aqua;
    padding: 60px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.input-div{
    display: inline-block;
}
.int{
    padding: 5px 10px;
    margin: 15px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}
label{
    font-size: 27px;
    color: black;
}
